.equipe {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10vw;
}

.equipe-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 5vw;
    height: 75vh;
}

.equipe-container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.equipe-container-content-title h6>span {
    font-weight: 700;
    opacity: .25;
    margin-right: 2rem;
}

.equipe-container-content-texts h5 {
    opacity: .25;
}

.equipe-container-content-texts h5.hidden {
    opacity: .0;
}

.equipe-container-content-texts h4 {
    margin: 1rem 0 2rem 0;
}

.equipe-container-content-texts p {
    max-width: 25vw;
    color: var(--color-font-second);
}

.equipe-container-content-texts h5,
.equipe-container-content-texts h4,
.equipe-container-content-texts p {
    transition: all 300ms ease-in-out;
}



.equipe-container-content-buttons {
    margin-bottom: 10vh;
}

.equipe-container-content-buttons button {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin: .25rem;
    border: none;
    background-color: var(--color-font-main);
    opacity: .25;
    cursor: pointer;
}

.equipe-container-content-buttons button:hover {
    opacity: .5;
}

.equipe-container-content-buttons button.active {
    opacity: 1;
}

.equipe-container-imgs {

    display: flex;
    align-items: flex-end;
}

.equipe-container-imgs img {
    display: none;
    height: clamp(100px, 100%, 100%);
    transition: all 300ms ease-in-out;
}

.equipe-container-imgs img.active {
    display: block;
}

.equipe-container-imgs img.animation {
    animation: animationIMGCrew 700ms ease-in-out forwards;
}

@keyframes animationIMGCrew {
    0% {
        transform: translate(0, 10%);
    }
}